<div id="{{{mojit_view_id}}}" class="debug-console">
    <pre class="debug-console-logs"></pre>
    <div class="debug-console-menu">
        <h2>Console</h2>
        <div class="debug-console-options">
            <span><input type="checkbox" checked>Enable</span>
            <span><input type="checkbox"/>Show Line Numbers</span>
            <span><input type="checkbox"/>Show Timestamps</span>
            <span><input type="checkbox"/>Line Wrap</span>
        </div>

        <h2>YUI</h2>
        <div class="debug-console-options">
            Set Log Level
            <select>
                <option selected>debug</option>
                <option>mojito</option>
                <option>info</option>
                <option>warn</option>
                <option>error</option>
                <option>none</option>
            </select>
        </div>
        <h2>Search</h2>
        <div class="debug-console-options">
            <input type="text"/>
        </div>
    </div>
</div>